.topbaner{
    background-color:#8A25C6;
    height:80px;
}
.content{
    position: relative;
    background: url("../images/topbanner.jpg") no-repeat;
    height:80px;
}
.content i{
    width: 19px;
    height: 19px;
    background: url("../images/close.png");
    position: absolute;
    top:5px;
    right: 0;
}
.content i:hover {
    background-position:bottom;
}
.lsg{
    position:relative;
    height: 100px;
}
.lsg .logo{
    position:relative;
    float: left;
    padding: 30px 0 0 0;
    width: 360px;
    height: 70px;
    background: url("../images/logo.png") no-repeat 0 30px;
}
.lclick{
    display: block;
    width:159px;
    height: 49px;
}
.rclick{
    display: block;
    width:180px;
    height: 80px;
    margin-top: 17px;
}
.logo .ra{
    width: 200px;
    height: 100px;
    background: url("../images/dong.gif") no-repeat 0 17px;
    position:absolute;
    top:0;
    right: 0;
}
.search{
    float: left;
    width: 538px;
    height: 66px;
    padding-top: 25px;
}
.search input{
    float: left;
   border: 2px solid #B61D1D;
    width: 449px;
    height: 32px;
    padding-left: 5px;
    color: #666666;
    font: 14px/32px "microsoft yahei";
}
.search button{
    float: left;
    width: 80px;
    height: 36px;
    background-color: #B61D1D;
    color: #FFFFFF;
    font: 16px/36px "microsoft yahei";
    cursor: pointer; /* 鼠标变成小手*/
}
.alist{
    margin-top: 9px;
    float: left;
    width: 538px;
    height: 12px;
}
.alist ul{
    list-style: none;
}
.alist li{
  float: left;
    padding-left: 11px;
}

.alist .curent{
    padding-left: 0;
}

.alist li a{
    color: #666666;
    font: 12px/12px "宋体";
}
.alist li a:hover{
    color: #B61D1D;
}

.car{
    width: 139px;
    height: 34px;
    position: absolute;
    top:25px;
    right:65px;
    border: 1px solid #DFDFDF;
    line-height: 34px;
}
.car .cleft{
    float: left;
    width: 18px;
    height: 16px;
    background:url("../images/sprite.png") no-repeat 0 90px;
}