.topbaner{
    background-color:#8A25C6;
    height:80px;
}
.content{
    position: relative;
    background: url("../images/topbanner.jpg") no-repeat;
    height:80px;
}
.content i{
    width: 19px;
    height: 19px;
    background: url("../images/close.png");
    position: absolute;
    top:5px;
    right: 0;
}
.lsg{
    height: 100px;
}
.lsg .logo{
    float: left;
    padding: 34px 0 24px 0;
    width: 159px;
    height: 42px;
}
.logo img{
    width: 159px;
    height: 42px;
}
